@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
    ul li {
        list-style-type: none;
    }
</style>

<section class="contact_section layout_padding ">
    <h3 style="text-align: center;">Log in</h3>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form id="account" method="post">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email"
                           class="form-control"
                           autocomplete="username"
                           aria-required="true"
                           placeholder="name@example.com"/>
                    <span asp-validation-for="Input.Email"
                          class="text-danger">

                    </span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password"
                           class="form-control"
                           autocomplete="current-password"
                           aria-required="true"
                           placeholder="password"/>
                    <span asp-validation-for="Input.Password"
                          class="text-danger">
                    </span>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe"
                                   class="form-label">
                                <input class="form-check-input"
                                       asp-for="Input.RememberMe"
                                       style="width: 15px; height: 15px;"/>
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <a id="forgot-password"
                           asp-page="ForgotPassword">
                            Forgot your password?
                        </a>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly"
                     class="text-danger text-center"
                     role="alert">
                </div>
                <div>
                    <button id="login-submit"
                            type="submit"
                            class="w-100 btn btn-lg btn-primary">
                        Log in
                    </button>
                </div>
            </form>
            <div class="text-center mt-2">
                <p>
                    Resend email confirmation?
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend</a>
                </p>
                <p>
                    Don't have an account?
                    <a asp-page="Register"
                       asp-route-returnUrl="@Model.ReturnUrl">
                        Register
                    </a>
                </p>
                @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <p>or sign in with:</p>
                    <form id="external-account"
                          asp-page="ExternalLogin"
                          asp-route-returnUrl="@Model.ReturnUrl"
                          method="post">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit"
                                    name="provider"
                                    value="@provider.Name"
                                    title="Log in using your @provider.DisplayName account">
                                @switch (provider.Name)
                                {
                                    case "Google":
                                        <i class="fab fa-google"></i>
                                        break;
                                    case "Facebook":
                                        <i class="fab fa-facebook"></i>
                                        break;
                                    case "Twitter":
                                        <i class="fab fa-twitter"></i>
                                        break;
                                    case "Microsoft":
                                        <i class="fab fa-microsoft"></i>
                                        break;
                                    default:
                                        <i class="fas fa-sign-in-alt"></i>
                                        break;
                                }
                            </button>
                        }
                    </form>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}