@page
@using Hutech.Application.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model EditModel
@{
    ViewData["Title"] = "Edit";
}

<section class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="col-md-5 col-lg-4 offset-md-1 offset-lg-2">
            <div class="form_container">
                <div class="heading_container">
                    <h2>
                        Update Product
                    </h2>
                </div>
                <form method="post"
                      enctype="multipart/form-data"
                      asp-page-handler="Add"
                      asp-antiforgery="true">
                    <input type="hidden" name="Id" value="@Model.Product.Id"/>
                    <div>
                        <input type="text"
                               placeholder="Name"
                               name="Name"
                               value="@Model.Product.Name"/>
                    </div>
                    <div>
                        <input step="1"
                               min="0"
                               type="number"
                               placeholder="Price"
                               name="Price"
                               value="@Model.Product.Price"/>
                    </div>
                    <div>
                        <input type="file"
                               placeholder="Image"
                               name="Image"/>
                        @if(!Model.Product.Image.IsNullOrEmpty())
                        {
                            <img src="./images/@Model.Product.Image"
                                 alt="Image"
                                 style="width: 100px; height: 100px;"/>
                            <a href="#" class="btn btn-danger">Delete Image</a>
                        }
                    </div>
                    <div>
                        <input type="text"
                               class="message-box"
                               placeholder="Description"
                               name="Description"
                               value="@Model.Product.Description"/>
                    </div>
                    <div>
                        <select class="w-100" style="height: 50px;" name="CategoryId">
                            @foreach (var item in (ViewData["Categories"] as List<CategoryResponse>)!)
                            {
                                if (item.Id == Model.Product.CategoryId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="d-flex ">
                        <button>
                            UPDATE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>