@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model EditModel
@{
    ViewData["Title"] = "Edit";
}

<section class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="col-md-5 col-lg-4 offset-md-1 offset-lg-2">
            <div class="form_container">
                <div class="heading_container">
                    <h2>
                        Update Product
                    </h2>
                </div>
                <form method="post"
                      enctype="multipart/form-data"
                      asp-page-handler="Add"
                      asp-antiforgery="true">
                    <input asp-for="ProductVm.Id"
                           type="hidden"
                           value="@Model.Product.Id"/>
                    <div>
                        <input asp-for="ProductVm.Name"
                               type="text"
                               placeholder="Name"
                               value="@Model.Product.Name"/>
                        <span asp-validation-for="ProductVm.Name"
                              class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="ProductVm.Price"
                               value="@Model.Product.Price"
                               type="number"
                               step="1"
                               min="0"
                               placeholder="Price" />
                        <span asp-validation-for="ProductVm.Price"
                              class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <select asp-for="ProductVm.Status"
                                class="w-100" style="height: 50px;">
                            @if (Model.Product.Status == 0)
                            {
                                <option value="0" selected>In stock</option>
                                <option value="1">Out of stock</option>
                            }
                            else
                            {
                                <option value="0">In stock</option>
                                <option value="1" selected>Out of stock</option>
                            }
                        </select>
                    </div>
                    <div>
                        <input asp-for="ProductVm.Image"
                               type="file" />
                        @if (!Model.Product.Image.IsNullOrEmpty())
                        {
                            <img loading="lazy"
                                 src="./images/@Model.Product.Image"
                                 alt="Image"
                                 style="width: 100px; height: 100px;"/>
                            <a asp-page="Edit"
                               asp-page-handler="DeleteImage"
                               asp-route-id="@Model.Product.Id"
                               class="btn btn-danger"
                               onclick="return confirm('Are you sure you want to delete this image?');">
                                Delete Image
                            </a>
                        }
                        <span asp-validation-for="ProductVm.Image"
                              class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="ProductVm.Description"
                               type="text"
                               class="message-box"
                               placeholder="Description"
                               value="@Model.Product.Description"/>
                        <span asp-validation-for="ProductVm.Description"
                              class="text-danger"></span>
                    </div>
                    <div>
                        <select asp-for="@Model.Product.CategoryId"
                                asp-items="@Model.Categories"
                                class="w-100"
                                style="height: 50px;">
                        </select>
                    </div>
                    <div class="d-flex">
                        <button>
                            UPDATE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}